# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.hmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
